[Unit]
Description=AutoPostingTG
After=multi-user.target

[Service] 
Type=idle
ExecStart=/usr/bin/python3 /home/adam/autoPostingBotTG/main.py
Restart=always

[Install]
WantedBy=multi-user.target
