[Unit]
Description=posting bot 
After=multi-user.target

[Service] 
Type=idle
ExecStart=/usr/bin/python3 /home/adam/autoPostingBotTG/posting.py
Restart=always

[Install]
WantedBy=multi-user.target